<div class="ui container">
  <div class="ui aligned basic segment">
    <div class="ui form">
        <div class="two fields">
          <div class="field">
              <label>Nom</label>
              {{input name="name" value=model.copy.name class="ui input" type="text" placeholder="Nom"}}
          </div>
          <div class="field">
              <label>Owner</label>
              {{input name="owner" value=model.copy.owner.identify class="ui input" type="text"}}
          </div>
        </div>
        <div class="two fields">
          <div class="field">
              <label>CreationDate</label>
              {{input name="stratDate" value=model.copy.creationDate class="ui input" type="date"}}
          </div>
          <div class="field">
              <label>DueDate</label>
              {{input name="dueDate" value=model.copy.duoDate class="ui input" type="date"}}
          </div>
        </div>
        <div class="field">
            <label>Descriptif</label>
            {{input name="descriptif" value = model.copy.descriptif class="ui input" type="text"}}
        </div>

      <div class="ui field"><br>
        <button {{action "save" model}} class="ui green button"><i class="check circle icon"></i>
          Valider</button>
      </div>
    </div>
  </div>
</div>
{{outlet}}
