<div class="ui container">
  <div class="ui aligned basic segment">
    <div class="ui form">
        <div class="two fields">
          <div class="field">
              <label>Nom</label>
              {{input value=model.copy.name class="ui input"}}
          </div>
          <div class="field">
              <label>Owner</label>
              {{input value=model.copy.owner.identify class="ui input"}}
          </div>
        </div>
        <div class="two fields">
          <div class="field">
              <label>CreationDate</label>
              {{input value=model.copy.creationDate class="ui input" type="date"}}
          </div>
          <div class="field">
              <label>DueDate</label>
              {{input value=model.copy.duoDate class="ui input" type="date"}}
          </div>
        </div>
        <div class="field">
            <label>Descriptif</label>
            {{input value = model.copy.descriptif class="ui input"}}
        </div>
      <div class="ui field"><br>
        <button {{action "save" model}} class="ui primary button">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
{{outlet}}
